#ignore everything
/*


#except git ignore
!.gitignore

!readme.txt

!/6-WhileLoops/

!/7-Lists_and_Collections/
/7-Lists_and_Collections/*
!/7-Lists_and_Collections/Lists-Collections-Demo/

!/8-For_Loops/


!/9-Functions/

!10-GUI
10-GUI/GUI-Labs



!README.MD


# a bash function for doing quick gitHub updates
## cupdate() {  git add . ; git commit -m "quick code update" ; git push origin main ; }

# note to self because I always forget this one when resetting the .gitignore
#  git rm -r --cached . 

#  git ls-files --others --exclude-standard

# list by only name$  ls -1a
